main{
    display:flex;
}

header{
    display:flex;
    background-image: linear-gradient(to right, rgb(61, 79, 180), rgb(31, 3, 109)); 
    height: 70px;
    color:white;
    margin-bottom:30px;
}

header h1{
    margin-left: 50%;
    height:100%;
    vertical-align: middle;
}

.Container1{
    width: 300px;
    margin-right: 50px;
    margin-left: 50px;
}

.Container1 h1{
    margin-top: 0px;
}

#CityInput{
    display:block;
    width:292px;
    height:35px;
    margin-bottom:20px;
    border-radius: 5px;
    border-style:solid;
    border-color:gray;
}

#SearchButton{
    width:300px;
    height: 35px;
    border-radius: 5px;
    border-style:solid;
    border-color:gray;
    color:white;
    background-color:rgb(38, 95, 219);
    margin-bottom: 15px;
}

.CitiesDiv{
    border-width: 0px 0px 2px 0px;
    border-style: solid;
    border-color: black;
}

.Container2{
    width: 1100px;
    margin-right: 5%;
}

.Actual{
    border-width: 3px;
    border-style: solid;
    border-color: black;
    margin-bottom: 40px;
    height: 250px;
}

.Forecast{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.Forecast section{
    width: 180px;
    height: 200px;
    background-color: rgb(32, 32, 43);
    color: white;
    margin-bottom: 20px;
    
}